{
    "printWidth": 100,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "singleAttributePerLine": true,
    "trailingComma": "all",
    "singleQuote": true,
    "parser": "typescript",
    "bracketSameLine": false
}
